__pycache__
.coverage
.darglint
.flake8
.gitignore
.nox
.pre-commit-config.yaml
.pytest_cache
.ruff_cache
convert_whisper_model.py
data
dist
LICENSE
nginx.conf
notebooks
noxfile.py
test.py
tests
whisper_model
wordcab_transcribe/**/__pycache__
