__pycache__/
.mypy_cache/
/.coverage
.coverage
.coverage.*
.DS_Store
.env_dev
.env_*
.nox/
.pytest_cache/
.python-version
.ruff_cache/
/.pytype/
/data/
/dist/
/docs/_build/
/infer_out_dir/
/src/*.egg-info/
async_bench.py
test.ipynb
test.py
whisper_model
whisper_model_he
