aiohttp==3.9.3
aiofiles==23.2.1
boto3
-e /app/faster-whisper
ffmpeg-python==0.2.0
transformers==4.38.2
librosa==0.10.1
loguru==0.7.2
nltk==3.8.1
numpy==1.26.4
onnxruntime==1.17.1
pandas==2.2.1
pydantic==2.6.4
python-dotenv==1.0.1
tensorshare==0.1.1
torch==2.2.2
torchaudio==2.2.2
wget==3.2.0
yt-dlp==2024.3.10
tiktoken==0.6.0
datasets==2.18.0
kaldialign==0.9.0
openai-whisper==v20231117
soundfile==0.12.1
safetensors==0.4.2
janus==1.0.0
backports.lzma==0.0.14